--
-- PostgreSQL database dump
--

\restrict vwH7lDyg7Z3vfDmclzPRM1iPpDuW4Zasbikln6cIbE1JQFfsLQw15hKQztgXkFj

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: plastinki_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO plastinki_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: plastinki_db_user
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    record_id integer NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    title_snapshot character varying(200),
    artist_snapshot character varying(200)
);


ALTER TABLE public.order_items OWNER TO plastinki_db_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: plastinki_db_user
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO plastinki_db_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plastinki_db_user
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: plastinki_db_user
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying(200) NOT NULL,
    address character varying(500) NOT NULL,
    city character varying(120) NOT NULL,
    zip_code character varying(40) NOT NULL,
    phone character varying(40),
    total numeric(10,2) NOT NULL,
    status character varying(40),
    created_at timestamp without time zone
);


ALTER TABLE public.orders OWNER TO plastinki_db_user;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: plastinki_db_user
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO plastinki_db_user;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plastinki_db_user
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: records; Type: TABLE; Schema: public; Owner: plastinki_db_user
--

CREATE TABLE public.records (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    artist character varying(200) NOT NULL,
    year integer,
    genre character varying(80),
    condition character varying(20),
    price numeric(10,2) NOT NULL,
    stock integer,
    image_url character varying(500),
    description text,
    created_at timestamp without time zone
);


ALTER TABLE public.records OWNER TO plastinki_db_user;

--
-- Name: records_id_seq; Type: SEQUENCE; Schema: public; Owner: plastinki_db_user
--

CREATE SEQUENCE public.records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.records_id_seq OWNER TO plastinki_db_user;

--
-- Name: records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plastinki_db_user
--

ALTER SEQUENCE public.records_id_seq OWNED BY public.records.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: plastinki_db_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(120) NOT NULL,
    name character varying(120),
    password_hash character varying(255) NOT NULL,
    is_admin boolean NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO plastinki_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: plastinki_db_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO plastinki_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plastinki_db_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: records id; Type: DEFAULT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.records ALTER COLUMN id SET DEFAULT nextval('public.records_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: plastinki_db_user
--

COPY public.order_items (id, order_id, record_id, quantity, price, title_snapshot, artist_snapshot) FROM stdin;
8	8	36	1	57.00	Eternal Atake 2	Lil Uzi Vert
9	9	33	5	30.00	MASA	YoungBoy Never Broke Again
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: plastinki_db_user
--

COPY public.orders (id, user_id, full_name, address, city, zip_code, phone, total, status, created_at) FROM stdin;
8	3	111	111	111	111	111	57.00	pending	2026-05-23 10:10:30.71318
9	1	5	5	5	5	5	150.00	paid	2026-05-24 02:24:54.712349
\.


--
-- Data for Name: records; Type: TABLE DATA; Schema: public; Owner: plastinki_db_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: plastinki_db_user
--



--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plastinki_db_user
--

SELECT pg_catalog.setval('public.order_items_id_seq', 9, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plastinki_db_user
--

SELECT pg_catalog.setval('public.orders_id_seq', 9, true);


--
-- Name: records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plastinki_db_user
--

SELECT pg_catalog.setval('public.records_id_seq', 41, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plastinki_db_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: records records_pkey; Type: CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.records
    ADD CONSTRAINT records_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_records_artist; Type: INDEX; Schema: public; Owner: plastinki_db_user
--

CREATE INDEX ix_records_artist ON public.records USING btree (artist);


--
-- Name: ix_records_genre; Type: INDEX; Schema: public; Owner: plastinki_db_user
--

CREATE INDEX ix_records_genre ON public.records USING btree (genre);


--
-- Name: ix_records_year; Type: INDEX; Schema: public; Owner: plastinki_db_user
--

CREATE INDEX ix_records_year ON public.records USING btree (year);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: plastinki_db_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_record_id_fkey FOREIGN KEY (record_id) REFERENCES public.records(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plastinki_db_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO plastinki_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO plastinki_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO plastinki_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO plastinki_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict vwH7lDyg7Z3vfDmclzPRM1iPpDuW4Zasbikln6cIbE1JQFfsLQw15hKQztgXkFj

